 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">SP</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right wrapper row">  
              {{#each cats}}          
              <li class="dropdown {{#if isActive}}active{{/if}}"><a class="dropdown-toggle" href="/{{CatID}}/products" data-toggle="dropdown">{{CatName}}</a>
                <ul class="dropdown-menu">
                  <li><a href="index_mp_fullscreen_video_background.html">Default</a></li>
                </ul>
              </li>                       
              {{/each}}
              {{#if login}}
               
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-sign-in"></i>  {{username}}</a>            
              <ul class="dropdown-menu">
                  <li><a href="/profile">Thông tin</a></li>
                  <li><a href="/logout">Thoát</a></li>             
                </ul>
              </li>
              {{else}}     
              <li> <a  href="/login" ><i class="fa fa-sign-in"></i> Đăng nhập</a></li>
              <li> <a  href="/createAccount" ><i class="fa fa-user"></i> Đăng ký</a></li>  
              {{/if}}                        
            </ul>
           
          </div>
           
        </div>
        
      </nav>
       <section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="/Images/Bannel-Home.jpg">
        <div class="titan-caption">
          <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Đấu giá</div>
            <div class="font-alt mb-40 titan-title-size-4">Đồ Án Cuối Kì</div><a class="section-scroll btn btn-border-w btn-round" href="#demos">More...</a>
          </div>
        </div>
      </section>